<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<div th:if="${type == 'windpark'}">
		<h1>Windpark Data</h1>
	</div>
	<div th:if="${type == 'windzentrale'}">
		<h1>Windzentrale Data</h1>
	</div>
	<div th:if="${data.zentrale.get(windparkID).size() == 0}" class="error">
		<div th:if="${type == 'windpark'}">
			No data found for Windpark
			<span th:text="${windparkID}">text</span>.
		</div>
		<div th:if="${type == 'windzentrale'}">
			No data found.
		</div>
	</div>

	<div th:if="${data.zentrale.get(windparkID).size() != 0}">
		<div th:if="${type == 'windpark'}">
			<p>
				Data found for Windpark  <span th:text="${windparkID}">text</span>:
			</p>
		</div>
		<div th:if="${type == 'windzentrale'}">
			<p>
				Data found for all Windparks:
			</p>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Timestamp</th>
					<th>WindparkID</th>
					<th>WindengineID</th>
					<th>Windspeed ([[${data.zentrale.get(windparkID)[0].unitWindspeed}]])</th>
					<th>Rotationspeed ([[${data.zentrale.get(windparkID)[0].unitRotationspeed}]])</th>
					<th>Bladeposition ([[${data.zentrale.get(windparkID)[0].unitBladeposition}]])</th>
					<th>Temperature ([[${data.zentrale.get(windparkID)[0].unitTemperature}]])</th>
					<th>Power ([[${data.zentrale.get(windparkID)[0].unitPower}]])</th>
					<th>Blindpower ([[${data.zentrale.get(windparkID)[0].unitBlindpower}]])</th>
				</tr>
			</thead>

			<tbody>
				<div th:each="park : ${data.zentrale}">
					<tr th:each="record : ${park.value}">
						<td th:text="${record.timestamp}"></td>
						<td th:text="${park.key}"></td>
						<td th:text="${record.windengineID}"></td>
						<td th:text="${record.windspeed}"></td>
						<td th:text="${record.rotationspeed}"></td>
						<td th:text="${record.bladeposition}"></td>
						<td th:text="${record.temperature}"></td>
						<td th:text="${record.power}"></td>
						<td th:text="${record.blindpower}"></td>
					</tr>
				</div>
			</tbody>
		</table>
	</div>

	<div style="text-align: right">
		Options: <a th:href="@{/}">Home</a> | <a
			th:href="@{/data/search}">Data Search</a>
	</div>

	<div th:replace="footer :: copy"></div>
</body>
</html>
